.footer-top{
    background-color: rgb(28, 28, 28);
    margin-top: 5%;
}

.footer-top div{
    margin: 5%;
}

.footer-top div h1{
    color: rgb(211, 75, 17);
}

.f-t{
    list-style: none;
}

.f-t li{
    padding-top: 5%;
}

.f-t li a{
    text-decoration: none;
    color: white;
}

input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 120%;
    background-color: rgb(28, 28, 28);
    border-bottom: 5px solid rgb(211, 75, 17);
}

button{
    width: 100%;
    padding: 2%;
    font-size: 120%;
    color: white;
    background-color: rgb(211, 75, 17);
    border: 2px solid rgb(211, 75, 17);
    transition: all 0.5s;
}

button:hover{
    color: rgb(211, 75, 17);
    border: 2px solid rgb(211, 75, 17);
    background-color: rgb(28, 28, 28);
}

.footer-bottom{
    background-color: rgb(211, 75, 17);
}

.footer-bottom a{
    text-decoration: none;
    color: white;
    padding: 2%;
}